<%- include('header') -%>

<div class="container col-md-8 my-4 text-center">

    <p>
        Ciao!
        <br><br>
        Questo sito raccoglie tutte le informazioni che abbiamo trovato sul gabibbo.
        <br>
        Sei libero di accedere ai nostri dati filtrando per <a href="/year">anno di uscita</a> o per <a
            href="/type">tipologia</a>, ma non potrai mai accedere ai segreti del gabibbo.
    </p>


</div>
<%- include('footer') -%>